- decorator = UserDecorator.new(@user)
.columns.small-12.large-6.panel.large-centered
  = render 'profiles/user', user: @user, decorator: decorator

  - if user_signed_in? && @user == current_user
    .row
      .columns.small-12.large-12
        = link_to t('helpers.buttons.edit_model', model: t('users.profile')), edit_profile_path(@user), class: 'button success small'
        = link_to t('helpers.buttons.configure_model', model: t('users.account')), edit_user_registration_path, class: 'button small'

= content_for :title do
  #{decorator.name} | #{site_title}
