- object = f.object
- object_name = f.object_name
- date_field_name = "#{field_name}_date"
- time_field_name = "#{field_name}_time"
- date = f.object.read_attribute(date_field_name)
.row
  .columns.large-3
    = f.label date_field_name, f.object.class.human_attribute_name(field_name), class: 'inline'
  .columns.large-6
    - value = (date ? l(date, format: :form_date) : nil)
    = f.text_field date_field_name, class: 'date', value: value
  .columns.large-3
    - options = time_options_for_select
    = f.select time_field_name, options

