.row.comment{ id: "comment_#{comment.id.to_s}" }
  - if list_mode
    .small-12.large-2.columns
      - if list_mode && (!past_comment || past_comment.acted_at.to_date != comment.acted_at.to_date)
        = decorator.acted_at_date(format: :long)
      - else
        &nbsp;
  .small-2.large-1.columns
    = decorator.author.face(user_signed_in: user_signed_in?)
  .small-10.columns.main_content{ class: (list_mode ? 'large-9' : 'large-11') }
    -# TODO
    -# if current_user == comment.author
      = link_to '#', title: t('messages.modify_comment_acted_at'), class: 'modify_acted_at' do
        = decorator.acted_at(only_time: true)
    -# else
    = decorator.acted_at(only_time: true)
    = decorator.content
    - if comment.figure
      .figure_wrapper
        - if comment.figure.content_image? && comment.figure.image?
          = decorator.figure_image swipebox: true, swipebox_class: 'swipebox th'
        - else
          = decorator.figure_file
