.row.comment
  .small-2.large-1.columns
    = UserDecorator.new(comment.author).face
  .small-10.large-11.columns.main_content
    = decorator.acted_at(only_time: true)
    = decorator.content
    - if comment.figure
      .figure_wrapper
        - if comment.figure.content_image? && comment.figure.image?
          = decorator.figure_image swipebox: true, swipebox_class: 'swipebox th'
        - else
          = decorator.figure_file
