.row.comment
  .small-2.large-1.columns
    = UserDecorator.new(comment.author).face
  .small-10.large-11.columns.main_content
    = decorator.acted_at
    %p
      = decorator.content
    - if comment.figure && comment.figure.content_image? && comment.figure.image?
      .image_wrapper
        = link_to comment.figure.image.url, 'data-skip-pjax' => true, class: 'swipebox' do
          = image_tag comment.figure.image.small.url
