= form_for comment do |f|
  - if comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg
  .row.comment
    .small-2.large-1.columns
      = UserDecorator.new(current_user).face
    .small-10.large-11.columns
      = f.text_field :content
  .row.actions
    .columns.large-12
      = f.hidden_field :trek_id, value: trek.id.to_s
      = f.submit t('helpers.submit.save'), class: 'button expand radius'
