%nav.top-bar#ghead
  %ul.title-area
    %li.name
      %h1
        = link_to site_title, root_path
  %section.top-bar-section
    %ul.right
      %li.divider
      - if user_signed_in?
        %li= link_to make_page_title('devise_registrations', 'edit'), edit_user_registration_path
        %li.divider
        %li= link_to make_page_title('devise_sessions', 'destroy'), destroy_user_session_path, method: 'delete'
      - else
        %li= link_to make_page_title('devise_registrations', 'new'), new_user_registration_path
        %li.divider
        %li= link_to make_page_title('devise_sessions', 'new'), new_user_session_path
