%a.row.trek.feed{ href: trek_path(trek) }
  .small-2.large-1.columns
    = decorator.picture
  .small-10.large-11.columns
    %h2
      = decorator.name
      - if user_signed_in?
        = decorator.published
    .info
      - if trek.scheduled_from_date || trek.scheduled_to_date
        = decorator.scheduled_from_date
        〜
        = decorator.scheduled_to_date
      - else
        = t('messages.unknown_schedule')
