= form_for @trek do |f|
  - if @trek.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trek.errors.count, "error")} prohibited this trek from being saved:"
      %ul
        - @trek.errors.full_messages.each do |msg|
          %li= msg
  .row
    .columns.large-2
      = f.label :name, nil, class: 'inline required'
    .columns.large-10
      = f.text_field :name
  .row.actions
    .columns.large-12
      = f.submit t('helpers.submit.save'), class: 'button expand'
