= form_for @trek, html: { 'data-abide' => true } do |f|
  - if @trek.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trek.errors.count, "error")} prohibited this trek from being saved:"
      %ul
        - @trek.errors.full_messages.each do |msg|
          %li= msg
  .row
    .columns.large-3
      = f.label :name, nil, class: 'inline required'
    .columns.large-9
      = f.text_field :name, placeholder: t('helpers.placeholders.trek.name'), required: true
      %small.error
        = t('helpers.placeholders.trek.name')
  = render 'shared/fields/date_time', f: f, field_name: 'scheduled_from'
  = render 'shared/fields/date_time', f: f, field_name: 'scheduled_to'
  .row
    .columns.large-3
      = f.label :published, nil, class: 'inline required'
    .columns.large-9
      = content_tag :label do
        = f.radio_button :published, true
        = t('statuses.published')
      = content_tag :label do
        = f.radio_button :published, false
        = t('statuses.unpublished')
        = t('helpers.placeholders.trek.unpublished')
  .row.actions
    .columns.large-12
      = f.submit t('helpers.submit.save'), class: 'button expand'
