.row.trek
  .small-2.large-1.columns
    = decorator.picture swipebox: true
  .small-10.large-11.columns.main_content
    %h2
      = decorator.name
      %small
        = decorator.published
    .info
      - if trek.scheduled_from_date || trek.scheduled_to_date
        = decorator.scheduled_from_date
        〜
        = decorator.scheduled_to_date
      - else
        = t('messages.unknown_schedule')
.comments{ 'data-clearing' => true }
  - trek.comments.each do |comment|
    = render 'comments/comment', comment: comment, decorator: CommentDecorator.new(comment)
- if user_signed_in?
  = render 'comments/form_inline', trek: @trek, comment: Comment.new
