.row.trek.feed
  .small-2.large-1.columns
    = image_tag 'treks/trek.png'
  .small-10.large-11.columns
    %h2
      = decorator.name
    .info
      - if trek.scheduled_from_date || trek.scheduled_to_date
        = decorator.scheduled_from_date
        〜
        = decorator.scheduled_to_date
      - else
        = t('messages.unknown_schedule')
    %ul.inline-list
      %li
        = link_to 'reply', '#'
      %li
        = link_to 'share', '#'
    %h6 2 comments
    - 2.times do
      .row
        .small-2.large-1.columns
          = image_tag 'http://placehold.it/50x50&text=[face]'
        .small-10.large-11.columns
          %p bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. aute in reprehenderit
