.row.trek
  .small-2.large-1.columns
    = decorator.picture swipebox: true
  .small-10.large-11.columns.main_content
    %h2
      = decorator.name
      %small
        = decorator.published
    .info
      - if trek.scheduled_from_date || trek.scheduled_to_date
        = decorator.scheduled_from_date
        〜
        = decorator.scheduled_to_date
      - else
        = t('messages.unknown_schedule')
.comments{ 'data-clearing' => true }
  - past_comment = nil
  - if user_signed_in?
    - trek_comments = trek.comments.asc(:acted_at).to_a
  - else
    - trek_comments = trek.comments.asc(:acted_at).limit(1).to_a

  - trek_comments.each do |comment|
    - next if comment.parent?
    = render 'comments/comment', comment: comment, decorator: CommentDecorator.new(comment), past_comment: past_comment, list_mode: true, comments: trek_comments, trek: trek
    - past_comment = comment
