.row.trek
  .small-2.large-1.columns
    = image_tag 'treks/trek.png'
  .small-10.large-11.columns
    %h2
      = decorator.name
      = decorator.published
    .info
      - if trek.scheduled_from_date || trek.scheduled_to_date
        = decorator.scheduled_from_date
        〜
        = decorator.scheduled_to_date
      - else
        = t('messages.unknown_schedule')
- 2.times do
  .row.comment
    .small-2.large-1.columns
      = UserDecorator.new(trek.creator).face
    .small-10.large-11.columns
      %p bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. aute in reprehenderit
