.columns.small-12.large-6.panel.large-centered
  %h2= make_page_title('devise_registrations', 'edit')
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .row
      .columns.large-4
        = f.label :email
      .columns.large-8
        = f.email_field :email, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .row
      .columns.large-4
        = f.label :password
      .columns.large-8
        = f.password_field :password, autocomplete: "off"
        %i (leave blank if you don't want to change it)
    .row
      .columns.large-4
        = f.label :password_confirmation
      .columns.large-8
        = f.password_field :password_confirmation
    .row
      .columns.large-4
        = f.label :current_password
      .columns.large-8
        = f.password_field :current_password
        %i (we need your current password to confirm your changes)
    .row.actions
      .columns.large-12
        = f.submit "Update", class: 'button expand success'
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button expand error'}

= content_for :title do
  #{make_page_title('devise_registrations', 'edit')} | #{site_title}
