.columns.small-12.large-12
  %h1= make_page_title
  %p 明和トレッキング部、及び、明倫山岳会の反映に役立てるように、利用者は、以下の点を守りましょう。
  %ul.list
    %li 過去、現在、及び、未来の山行が楽しくなるように努力しましょう。
    %li 利用者は、他の利用者が不快になる言動を慎みましょう。
    %li このポータルが活気づくように協力しあっていきましょう。
    %li ここは、インターネット上の世界です。#{link_to make_page_title('about', 'privacy'), about_privacy_path}を読んだ上で、各自、個人情報を守る工夫を各自してください。
    %li この規約は予告なく変わることがあります。
  %h2 履歴
  %p 2013/07/12 制定

= content_for :title do
  #{make_page_title} | #{site_title}
