- object_name = f.object_name
- object_id = f.object.id.to_s
- image_container_name = "#{field_name}_#{object_id}_image"
%div{ id: image_container_name }
  - figure = f.object.public_send(field_name)
  - if figure.present?
    - if figure.content_image?
      = image_tag figure.image.thumb.url
    - else
      .caption
        = figure.caption
- image_field_name = "#{field_name}_id"
- file_field_name = "#{field_name}_#{object_id}_file"
- hidden_field_name = "hidden_#{field_name}_#{object_id}_figure"
- hidden_field_container_name = "hidden_#{field_name}_#{object_id}_field"
- field_container_name = "#{field_name}_#{object_id}_field"
= f.hidden_field image_field_name, id: hidden_field_name

%div{ id: field_container_name }
  = file_field_tag 'figure[content]', id: file_field_name

= content_for :after_javascript do
  %div{ style: 'display: none', id: hidden_field_container_name }
  :coffee
    $.on_pjax_load ->
      $file_field = $('##{file_field_name}')
      $file_field.on 'change', ->
        return unless $file_field.val()
        $el = $(@)
        $('##{hidden_field_container_name}').append($el)
        $el.upload(
          '#{figures_path(format: :json)}',
          {
            '#{request_forgery_protection_token}': '#{form_authenticity_token}'
          },
          (data) ->
            if data and data.message != 'NG'
              $('##{hidden_field_name}').val data.id
              $('##{image_container_name} img, ##{image_container_name} .caption').remove()
              if data.data
                if data.data.thumb_image_url
                  image_url = data.data.thumb_image_url
                  $img = $('<img>').attr('src', image_url)
                  $('##{image_container_name}').append($img)
                else
                  $caption = $('<div>').addClass('caption').text(data.data.caption)
                  $('##{image_container_name}').append($caption)
              $("##{field_container_name}").append($file_field)
              $file_field.val('')
          , 'json'
        )
        null
