- object_name = f.object_name
- object_id = f.object.id.to_s
- image_container_id = "#{image_name}_#{object_id}_image"
%div{ id: image_container_id }
  <div class="progress" style="display: none"><span class="meter"></span></div>
  - figure = f.object.public_send(image_name)
  - if figure.present? && figure.image?
    = image_tag figure.image.thumb.url
- image_field_name = "#{image_name}_id"
- file_field_name = "#{image_name}_#{object_id}_file"
- hidden_field_name = "hidden_#{image_name}_#{object_id}_figure"
- hidden_field_container_name = "hidden_#{image_name}_#{object_id}_field"
- field_container_name = "#{image_name}_#{object_id}_field"
= f.hidden_field image_field_name, id: hidden_field_name

%div{ id: field_container_name }
  = file_field_tag 'figure[content]', id: file_field_name

= content_for :after_javascript do
  %div{ style: 'display: none', id: hidden_field_container_name }
  :coffee
    $.on_pjax_load ->
      $file_field = $('##{file_field_name}')
      $file_field.on 'change', ->
        return unless $file_field.val()
        $el = $(@)
        $('##{hidden_field_container_name}').append($el)
        $button = $('##{file_field_name}').parents('form').find('input[type="submit"], button')
        $button.attr('disabled', true)
        progress = 0
        $('##{image_container_id} .progress').show()
        $meter = $('##{image_container_id} .meter').css('width', '0%')
        progress_interval = setInterval(
          ->
            progress += 1
            if progress > 100
              progress = 100
            $meter.css('width', progress+'%')
          , 50
        )
        $el.upload(
          '#{figures_path(format: :json)}',
          {
            '#{request_forgery_protection_token}': '#{form_authenticity_token}'
          },
          (data) ->
            if data and data.message != 'NG'
              $('##{hidden_field_name}').val data.id
              $('##{image_container_id} .progress').hide()
              $('##{image_container_id} img').remove()
              $button.removeAttr('disabled')
              clearInterval(progress_interval)
              if data.data and data.data.thumb_image_url
                image_url = data.data.thumb_image_url
                $img = $('<img>').attr('src', image_url)
                $('##{image_container_id}').append($img)
              $("##{field_container_name}").append($file_field)
              $file_field.val('')
          , 'json'
        )
        null
